*{margin: 0; padding: 0;}

h1 {
  position: fixed;
  margin: 25px;
}

.favorites {
  left: 0;
  height: 100%;
  background: pink;
  width: 30%;
  position: fixed;
  overflow: scroll;
}

.favorites-item {
  margin: 10px;
  list-style: none;
}

.remove-favorite {
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.favorites-link {
  color: inherit;
}

h2 {
  text-align: center;
}

.feed {
  list-style: none;
  width: 60vw;
  max-width: 565px;
  max-width: 60%;
  float: right;
  margin: 5%;
}

.feed-item {
  text-align: center;
  margin: 25px;
}

.headline-wrapper {
  display: inline-block;
  width: 565px;
  margin: 20px 0px -5px;
}

h3 a {
  color: inherit;
  text-decoration: inherit;
  float: left;
  display: inline-block;
  max-width: 500px;
}

.favorite {
  margin: 10px;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.image-wrapper {
  float: left;
  position: relative;
  background-color: red;
  width: 565px;
  height: 313px;
}

.excerpt {
  background-color: black;
  color: white;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-height: 50px;
  width: 545px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height .6s ease-out;
}

.image-wrapper:hover > .excerpt {
  max-height: 100%;
}
